{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Testing Page</p>
    <p>test: </p>
    <p> {% popularposts %} </p>

    <!-- <p>{% post as totalposts %}</p> -->
    <!-- {% for post in totalposts %}
        <p>{{post}}</p>
        <p>{{post.content}}</p>
    {% endfor %}

    {% for post in totalposts %}
        <p>{{post.content | snippets:150}} </p>
    {% endfor %} -->

    <!-- <p>test: {% totalposts as tp %} </p>
    <p>{{tp}}</p> -->
    
</body>
</html>